*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
    --main:#00062e;
    --line:#df6711;
}
.text-main {color:var(--main);}
.text-line {color:var(--line);}
.text-lg {font-size:3.5em;}
.bg-main {background-color:var(--main);}
.bg-line {background-color:var(--line);}
.ratio  {
  background-size:cover;
}
img {
  max-width:100%;
}
.menu_icons {
  margin:auto;
}
/*  .navbar{
 min-height: 80px;
  z-index: 1000;
} */

.carousel img{
  height: 650px;
}


@media only screen and (max-width: 600px) {
  .carousel img{
    height: 250px;
  }
  .carousel-indicators{
    display: none;
  }
  .caption{
    display: none;
  }
}

.carousel-caption-top {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.caption{
  background-color: #0000008f;
  padding:15px;
}
.box:nth-child(even) {
  opacity:0.4;
  transform:translateY(100px);
  transition:all .9s;
}
.box:nth-child(odd) {
  opacity:0.4;
  transform:translateY(-100px);
  transition:all .9s;
}
.box.show {
  opacity:1;
  transform:translateY(-50%);
  transition:all .9s;
}

/* .caption .btn{
  background-color:#d75d06 ;
} */
.menu-item {
  width: 20rem;
}
@media only screen and (max-width: 600px) {
  .menu-item{
    width:98%;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-item{
    width:32%;
  }
}
